rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null && request.auth.token.email == 'technologiesniss@gmail.com';
    }
    match /site/{document} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /leads/{leadId} {
      allow create: if true;
      allow read, update, delete: if isAdmin();
    }
  }
}
